<div class="app-container app-theme-white body-tabs-shadow fixed-sidebar fixed-header "
    style="background-color: #F4F6F9;" id=appMain>
    <div class="app-header header-shadow" style="background: #F4F6F9; box-shadow: unset;" *ngIf="loggedin">
        <div class="app-header__logo" style="display: flex;">
            <img width="100%" class="" src="assets/login-logo.png" alt="KrishnaSales Logo">
            
            <!-- <div class="header__pane ml-auto">
                <div>
                    <button type="button" class="hamburger close-sidebar-btn hamburger--elastic" data-class="closed-sidebar">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div> -->
        </div>
        <div class="app-header__mobile-menu">
            <div>
                <button type="button" menuToggle class="hamburger hamburger--elastic mobile-toggle-nav" id="menuToggle">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
        <div class="app-header__menu">
            <span>
                <!-- <button type="button" class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                    <span class="btn-icon-wrapper">
                        <i class="fa fa-ellipsis-v fa-w-6"></i>
                    </span>
                </button> -->
            </span>
        </div>
        <div class="app-header__content">
            <div class="app-header-left">
            </div>
            <div class="app-header-right">
                <div class="header-btn-lg pr-0">
                    <div class="widget-content p-0">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-left">
                                <div class="btn-group">
                                    <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                        class="p-0 btn">
                                        <img width="42" *ngIf="currentUser.Role === '1'" class="rounded-circle"
                                            src="assets/admin.png" alt="">
                                        <img width="42" *ngIf="currentUser.Role === '2'" class="rounded-circle"
                                            src="assets/employee.png" alt="">
                                        <img width="42" *ngIf="currentUser.Role === '3'" class="rounded-circle"
                                            src="assets/customer.png" alt="">
                                        <i class="fa fa-angle-down ml-2 opacity-8"></i>
                                    </a>
                                    <div tabindex="-1" role="menu" aria-hidden="true"
                                        class="dropdown-menu dropdown-menu-right">
                                        <button type="button" tabindex="0" class="dropdown-item" (click)="changePassword()">Change Password</button>
                                        <button type="button" tabindex="0" class="dropdown-item"
                                            (click)="logout()">Logout</button>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content-left  ml-3 header-user-info">
                                <div class="widget-heading">
                                    {{currentUser.Name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="app-main">
        <div class="app-sidebar sidebar-shadow" style="background: #181c32;box-shadow: 0 0 30px 0 rgb(82 63 105 / 5%);" *ngIf="loggedin">
            
            <div class="app-header__mobile-menu">
                <div>
                    <button type="button" class="hamburger hamburger--elastic mobile-toggle-nav">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
            <div class="app-header__menu">
                <span>
                    <button type="button"
                        class="btn-icon btn-icon-only btn btn-primary btn-sm mobile-toggle-header-nav">
                        <span class="btn-icon-wrapper">
                            <i class="fa fa-ellipsis-v fa-w-6"></i>
                        </span>
                    </button>
                </span>
            </div>
            <div class="scrollbar-sidebar">
                <div class="app-sidebar__inner">
                    <ul class="vertical-nav-menu" *ngIf="currentUser['Role'] == 1">
                        <li class="app-sidebar__heading" style="color: white;"></li>
                        <li (click)="closeSidenav()">
                            <a [routerLink]="['']" [class.mm_active]="subtitle === 'Dashboard | KrishnaSales'">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                Dashboard
                            </a>
                        </li>
                        <li (click)="closeSidenav()">
                            <a [routerLink]="['/order-history']"
                                [class.mm_active]="subtitle === 'Order History | KrishnaSales'">
                                <i class="metismenu-icon pe-7s-clock"></i>
                                Order History
                            </a>
                        </li>
                        <li (click)="closeSidenav()">
                            <a [routerLink]="['/item-master']"
                                [class.mm_active]="subtitle === 'Item Master | KrishnaSales'">
                                <i class="metismenu-icon pe-7s-file"></i>
                                Item Master
                            </a>
                        </li>
                        <li (click)="closeSidenav()">
                            <a [routerLink]="['/bonus-master']"
                                [class.mm_active]="subtitle === 'Bonus Master | KrishnaSales'">
                                <i class="metismenu-icon pe-7s-file"></i>
                                Bonus Master
                            </a>
                        </li>
                        <li (click)="closeSidenav()">
                            <a [routerLink]="['/customer']" [class.mm_active]="subtitle === 'Customers | KrishnaSales'">
                                <i class="metismenu-icon pe-7s-users"></i>
                                Customers
                            </a>
                        </li>
                        <li (click)="closeSidenav()">
                            <a [routerLink]="['/employees']"
                                [class.mm_active]="subtitle === 'Employees | KrishnaSales'">
                                <i class="metismenu-icon pe-7s-portfolio"></i>
                                Employees
                            </a>
                        </li>
                        <li class="d-md-none">
                            <a href="#" aria-expanded="false" class="text-white">
                                <i class="metismenu-icon pe-7s-user"></i>
                                Profile
                                <i class="metismenu-state-icon pe-7s-angle-down caret-left"></i>
                            </a>
                            <ul class="mm-collapse" style="height: 7.04px;">
                                <li (click)="closeSidenav()">
                                    <a (click)="changePassword()" class="text-white">
                                        <i class="metismenu-icon"></i>
                                        Change Password
                                    </a>
                                </li>
                                <li (click)="closeSidenav()">
                                    <a (click)="logout()" class="text-white">
                                        <i class="metismenu-icon">
                                        </i>Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <ul class="vertical-nav-menu" *ngIf="currentUser['Role'] == 3">
                        <li class="app-sidebar__heading" style="color: white;"></li>
                        <li (click)="closeSidenav()">
                            <a [routerLink]="['/customer-dashboard']"
                                [class.mm_active]="subtitle === 'Customer Dashboard | KrishnaSales'">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                Dashboard
                            </a>
                        </li>
                        <li (click)="closeSidenav()">
                            <a [routerLink]="['/customer-create-order']"
                                [class.mm_active]="subtitle === 'Create Order | KrishnaSales'">
                                <i class="metismenu-icon pe-7s-file"></i>
                                Create Order
                            </a>
                        </li>
                        <li (click)="closeSidenav()">
                            <a [routerLink]="['/customer-order-history']"
                                [class.mm_active]="subtitle === 'Customer Order History | KrishnaSales'">
                                <i class="metismenu-icon pe-7s-clock"></i>
                                Order History
                            </a>
                        </li>
                        <li  class="d-md-none">
                            <a (click)="logout()" class="text-white">
                                <i class="metismenu-icon pe-7s-power">
                                </i>Logout
                            </a>
                        </li>
                    </ul>

                    <ul class="vertical-nav-menu" *ngIf="currentUser['Role'] == 2">
                        <li class="app-sidebar__heading" style="color: white;"></li>
                        <li (click)="closeSidenav()">
                            <a [routerLink]="['/employee-dashboard']"
                                [class.mm_active]="subtitle === 'Employee Dashboard | KrishnaSales'">
                                <i class="metismenu-icon pe-7s-rocket"></i>
                                Dashboard
                            </a>
                        </li>
                        <!-- <li (click)="closeSidenav()">
                            <a [routerLink]="['/employee-customers']" [class.mm_active]="subtitle === 'Employee - Users | KrishnaSales'">
                            <i class="metismenu-icon pe-7s-user"></i>
                            Customers
                            </a>
                        </li> -->
                        <li (click)="closeSidenav()">
                            <a [routerLink]="['/employee-order-history']"
                                [class.mm_active]="subtitle === 'Employee Order History | KrishnaSales'">
                                <i class="metismenu-icon pe-7s-clock"></i>
                                Order History
                            </a>
                        </li>
                        <li  class="d-md-none">
                            <a (click)="logout()" class="text-white">
                                <i class="metismenu-icon pe-7s-power">
                                </i>Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="app-main__outer">
            <div class="router">
                <ion-router-outlet></ion-router-outlet>
            </div>
        </div>
    </div>
</div>